@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #ff7800;
  text-decoration: none;
}
body {
  font-family: "Microsoft Yahei";
  color: #333;
}
input {
  font-size: 14px;
}
.top .top_cont {
  width: 1000px;
  margin: 0px auto;
  text-align: right;
  height: 22px;
  padding-top: 6px;
  font-family: "宋体", Simsun;
  padding-right: 22px;
  color: #666;
  font-size: 12px;
  background: #fafafa;
  border-bottom: 1px solid #f1f1f1;
}
.top a {
  font-size: 12px;
  text-decoration: none;
  padding: 0px 10px;
}
.top a:not(:last-child) {
  border-right: 1px solid #333;
}
.top a:hover {
  color: #ff7800;
  text-decoration: none;
}
/*广告图片*/
.banner {
  width: 950px;
  height: 328px;
  margin-top: 1px;
  position: relative;
}
/*logo*/
.logo {
  width: 170px;
  height: 35px;
  position: absolute;
  left: 6px;
  top: 10px;
}
/*导航*/
.nav {
  background: #e8400d;
  background: #fc6e2b;
}
.nav .nav_cont {
  width: 1000px;
  height: 40px;
  margin: 0px auto;
}
.nav .menu {
  margin-left: 0px;
  padding-left: 0px;
  float: left;
  list-style-type: none;
}
.nav .menu li {
  width: 115px;
  float: left;
  height: 40px;
  position: relative;
}
.nav .menu li:hover {
  background: #e8400d;
  background: #FFFFFF;
  color: #e8400d;
}
.nav .menu li:hover a {
  color: #e8400d;
}
.nav .menu li:hover:before {
  content: '';
  position: absolute;
  width: 1px;
  background: #FFFFFF;
  height: 100%;
  left: -1px;
}
.nav .menu li a {
  display: block;
  color: #FFFFFF;
  height: 16px;
  line-height: 16px;
  background: none;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  text-decoration: none;
}
.nav .menu li:not(:last-child) a {
  border-right: 1px solid #FFFFFF;
}
.nav .menu li a:hover {
  background: none;
  text-decoration: none;
}
.nav .date {
  width: 150px;
  height: 26px;
  padding-right: 20px;
  float: right;
  text-align: right;
  color: #ffffff;
  padding-top: 13px;
}
/*产品搜索*/
.Pro_search {
  clear: both;
  padding-left: 209px;
  padding-top: 6px;
  width: 741px;
  height: 25px;
  background: url(../images/searchBg.gif) no-repeat;
}
/*搜索框*/
.ProSbox {
  width: 330px;
  height: 24px;
  margin-left: 0px;
}
.www_zzjs_net {
  margin-left: 0px;
  float: left;
  height: 23px;
  width: 261px;
}
.searchinput {
  width: 227px;
  _width: 224px;
  font-family: "宋体";
  float: left;
  padding-top: 4px;
  color: #636365;
  height: 15px;
  font-size: 12px;
  padding-left: 4px;
  border-bottom: #804f15 1px solid;
  border-left: #804f15 1px solid;
  border-top: #804f15 1px solid;
}
.searchaction {
  width: 25px;
  float: right;
  height: 23px;
}
.searchBtn {
  width: 60px;
  height: 23px;
  float: right;
}
/*中部内容*/
.content {
  width: 1000px;
  height: auto;
  overflow: hidden;
  margin: 0px auto;
  padding-top: 12px;
  padding-bottom: 10px;
}
.content .left_content {
  float: left;
  width: 523px;
  margin-left: 20px;
}
.content .right_content {
  float: right;
}
.ScntL {
  width: 220px;
  float: left;
}
/*栏目导航*/
.Smenu {
  background: #F6F6F6;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 10px;
}
.Smenu .SmenuTitle {
  padding-left: 10px;
  color: #FF6C00;
  font-weight: bold;
}
.Smenu .SmenuTitle a {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.Smenu .SmenuTitle a:hover {
  color: #663300;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.Smenu .SmenuCnt {
  padding: 0px 10px 10px 10px;
}
.Smenu .SmenuCnt ul {
  list-style-type: none;
}
.Smenu .SmenuCnt ul li {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  padding-top: 10px;
  color: #000000;
  background: url(../images/right1.gif) 0px 20px no-repeat;
  border-bottom: 1px dashed #ff9933;
}
.SlxwmCnt {
  padding-left: 14px;
  padding-right: 14px;
  width: 210px;
  padding-top: 2px;
  height: auto;
  background: url(../images/lmt_bg.gif) repeat-y;
  margin-top: 0px;
}
/*联系我们*/
.lxwmPic {
  width: 205px;
  margin-top: 10px;
  height: 108px;
  padding: 1px;
  border: 1px solid #cccccc;
}
.lxwmCnt {
  width: 210px;
  height: 140px;
  line-height: 22px;
  padding-top: 12px;
  color: #000000;
}
.ScntR {
  margin-left: 240px;
  border: 1px dashed #cccccc;
  overflow: hidden;
}
.ScntR .ScntR_title {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cc9900;
  background: url(../images/RtitleBg.gif) repeat-x;
}
.ScntR .ScntR_title .ScntR_title1 {
  display: block;
  width: 152px;
  float: left;
  height: 18px;
  padding-left: 12px;
  color: #663300;
}
.ScntR .ScntR_title .ScntR_title2 {
  float: right;
  display: block;
  height: 18px;
  text-align: right;
  padding-right: 10px;
  color: #666666;
  font-size: 12px;
}
.ScntR .ScntR_title .ScntR_title2 a {
  color: #666666;
  font-size: 12px;
  text-decoration: none;
}
.ScntR .ScntR_title .ScntR_title2 a:hover {
  color: #ff0000;
  text-decoration: none;
}
.ScntR input {
  margin: 10px;
}
.ScntR input[type=submit] {
  width: 100px;
  background-color: #ff7800;
  border-radius: 3px;
  text-align: center;
  line-height: 36px;
  border: 0px none;
  color: #FFFFFF;
  font-family: "Microsoft Yahei";
  font-size: 20px;
  cursor: pointer;
}
/*页脚*/
.footer {
  padding-top: 20px;
  background: #ffffff;
  height: 78px;
  font-family: "宋体", Simsun;
  color: #353434;
  line-height: 22px;
  text-align: center;
}
.footer a {
  font-family: "宋体", Simsun;
  color: #353434;
  text-decoration: none;
}
.footer a:hover {
  font-family: "宋体", Simsun;
  color: #ff0000;
  text-decoration: none;
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
