@charset "utf-8";
/* CSS Document */
.Sub_gsjj {
  clear: both;
  width: 659px;
  height: auto;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 14px;
  line-height: 24px;
  text-indent: 2em;
  color: #000000;
}
.Sub_gsjj h6 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
/*产品展示*/
.productsBox {
  clear: both;
  width: 687px;
  padding-top: 12px;
  height: auto;
  padding-bottom: 15px;
}
.SproLxt {
  clear: both;
  width: 687px;
  height: 164px;
  margin-top: 10px;
}
.SproList01 {
  width: 149px;
  height: 160px;
  float: left;
  padding-left: 11px;
  padding-right: 10px;
}
.Spro_pic {
  width: 145px;
  height: 133px;
  padding: 1px;
  border: 1px solid #cccccc;
}
.Spro_tip {
  width: 149px;
  height: 17px;
  text-align: center;
  padding-top: 8px;
  color: #000000;
  font-size: 12px;
}
.Spro_tip a {
  color: #000000;
  font-size: 12px;
  text-decoration: none;
}
.Spro_tip a:hover {
  color: #ff0000;
  font-size: 12px;
  text-decoration: none;
}
.pages {
  clear: both;
  text-align: center;
  padding-top: 15px;
}
.pages a {
  color: #000000;
  text-decoration: none;
}
.pages a:hover,
.Pcurrent {
  color: #ff0000;
  text-decoration: none;
}
/*产品展示详细页*/
.cpPic {
  padding: 0px 20px;
  height: 280px;
  text-align: center;
}
.cpPic h6 {
  width: 680px;
  border-bottom: 2px solid #cc9900;
  text-align: center;
  height: 24px;
  font-size: 14px;
  margin-bottom: 15px;
  color: #3366FF;
}
.cpSmg {
  padding: 20px;
  color: #000000;
  text-align: left;
  line-height: 22px;
}
/*新闻列表*/
.newLxt0 {
  margin: 20px auto;
}
.newLxt0 dl {
  padding: 10px 0px;
}
.newLxt0 input[type=submit] {
  padding: 6px;
  margin-left: 100px;
}
.newLxt0 textarea {
  width: 300px;
  border: 1px solid #dcdcdc;
}
.newLxt {
  height: auto;
  list-style-type: none;
}
.newLxt li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #cccccc;
  text-align: left;
}
.no {
  float: left;
  width: 530px;
  text-align: left;
  padding-left: 15px;
  color: #666666;
  background: url(../images/icon1.gif) 0 8px no-repeat;
}
.lxtDate {
  float: right;
  text-align: right;
  padding-right: 8px;
  color: #666666;
}
.no a,
.lxtDate a {
  color: #000000;
  text-decoration: none;
}
.no a:hover,
.lxtDate a:hover {
  color: #ff0000;
  text-decoration: none;
}
/*新闻详细页*/
.newsD_title,
.newsD_bt {
  font-family: "宋体", Simsun;
  width: 670px;
  height: 20px;
  text-align: left;
  color: #000000;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 8px;
}
.newsD_title {
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}
.newD_cont {
  width: 660px;
  height: auto;
  color: #000000;
  line-height: 24px;
  text-indent: 2em;
  text-align: left;
  padding-left: 10px;
  padding-right: 7px;
  padding-top: 15px;
  margin-bottom: 15px;
}
.newsD_bt a {
  color: #000000;
  text-decoration: none;
}
.newsD_bt a:hover {
  color: #ff0000;
  text-decoration: underline;
}
/*人才招聘*/
.black {
  font-weight: bold;
}
.color01 {
  color: #CC9900;
}
.color01 a {
  color: #CC9900;
  text-decoration: none;
}
.color01 a:hover {
  color: #FF0000;
  text-decoration: underline;
}
/*人才招聘详细页*/
.rczpCnt1 {
  width: 668px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  color: #666666;
  font-size: 12px;
  line-height: 22px;
}
.rczp2Title {
  margin-top: 12px;
  width: 668px;
  height: 17px;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #cc9900;
}
.contact_cnt {
  width: 650px;
  height: 380px;
  padding-top: 30px;
  line-height: 24px;
  color: #000000;
  background: url(../images/Contact-Us.jpg) no-repeat;
  background-position: 250px -10px;
}
.color05 {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
/*联系我们*/
.contact {
  clear: both;
  padding-top: 30px;
  width: 680px;
  height: 288px;
}
.contactPic {
  margin-left: 20px;
  width: 208px;
  height: 290px;
  float: left;
  text-align: left;
}
.contactTip {
  padding-left: 20px;
  width: 430px;
  float: right;
  height: 290px;
  color: #666666;
  font-size: 12px;
  text-align: left;
  line-height: 24px;
}
.Rfont {
  color: #cc0000;
  font-size: 14px;
  font-weight: bold;
}
.login_l,
.login_f {
  width: 450px;
  height: auto;
}
.login_l {
  border-right: 1px dashed #f9f9f9;
}
.login_f {
  float: right;
}
.login_t {
  font-size: 18px;
  margin-left: 20px;
  line-height: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dcdcdc;
}
.login-cont {
  background-color: #f5f5f5;
  padding: 50px 0px;
}
.login_cont {
  width: 350px;
  height: 300px;
  margin-top: 40px;
  background: #FFFFFF;
}
.login_cont dl {
  line-height: 60px;
}
.login_cont dl dt {
  display: inline-block;
  width: 90px;
  text-align: right;
}
.login_cont dl dd {
  display: inline-block;
}
.login_txt {
  border: 1px solid #dddddd;
  width: 218px;
  background: #fff;
  color: #333;
  padding: 6px 0 5px 5px;
  font-family: "Microsoft Yahei";
  border-radius: 5px;
}
.btn_box {
  margin: 20px 0px;
  text-align: center;
}
.btn_box input[type=submit] {
  width: 218px;
  background-color: #ff7800;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  border: 0px none;
  color: #FFFFFF;
  font-family: "Microsoft Yahei";
  font-size: 20px;
  cursor: pointer;
}
/*租房明细页*/
.cont_info {
  border: 1px solid #ddd;
  border-top: 2px solid #cc9900;
}
.col-cont {
  margin-bottom: 15px;
}
.title-box {
  margin: 0 19px 10px;
  padding: 10px 0 0;
}
.title-name {
  font-size: 22px;
  font-family: 'Microsoft YaHei', 'SimSun';
  line-height: 36px;
  margin-bottom: 10px;
}
.title-info-l {
  float: left;
}
.title-info-l li {
  color: #999;
  float: left;
  display: inline;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
}
.pr-5 {
  padding-right: 5px;
}
#slides,
#slides2,
#slides3 {
  display: none;
  position: relative;
  z-index: 1;
}
.slidesjs-navigation {
  margin-top: 3px;
}
.slidesjs-previous {
  margin-right: 5px;
  float: left;
}
.slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs-pagination {
  margin: -30px 0 0;
  list-style: none;
  position: relative;
  z-index: 10;
  text-align: center;
}
.slidesjs-pagination li {
  display: inline-block;
  height: 18px;
  width: 25px;
  text-align: center;
}
.slidesjs-pagination li a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -1px;
  text-indent: -9000px;
}
.sliderjs-menu {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  height: 18px;
  line-height: 16px;
  z-index: 98;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  width: 8px;
  height: 8px;
  background: #fff;
}
a:link,
a:visited {
  color: #333;
}
a:hover,
a:active {
  color: #9e2020;
}
